# Aufgabe 1
Laden Sie wieder den Datensatz "data/data_resampled.csv" als Pandas-DataFrame. Beschreiben Sie den Datentyp jeder Spalte.

In [27]:
# Ihr Code:
import pandas as pd

# Aufgabe 2

Konvertieren Sie die Spalte co2 in den Datentyp int und dann wieder zurück in float. Geben Sie das Ergebnis aus. Was ist passiert?

In [28]:
# Ihr Code:

# Aufgabe 3

Finden Sie genau heraus, welchen Datentyp die Spalte "timestamp" hat.

In [29]:
# Ihr Code:

# Aufgabe 4

```python
from datetime import datetime, timedelta
df["timestamp"] = df["timestamp"] + timedelta(hours=1)
df.head()
```

Der obenstehende Code sollte eigentlich die Uhrzeit um eine Stunde erhöhen. Wieso funktioniert das nicht?

Beheben Sie den Fehler in der Spalte "timestamp" und erhöhen Sie die Uhrzeit um eine Stunde.

In [17]:
# Ihr Code:

            timestamp  room_id    co2   humidity       light  pir  temperature
0 2013-08-23 17:00:00      415  486.0  -1.000000   -1.000000 -1.0    -1.000000
1 2013-08-23 18:00:00      415  492.0  -1.000000   -1.000000 -1.0    -1.000000
2 2013-08-24 00:00:00      413  528.0  45.150974   93.707763  0.0    24.116347
3 2013-08-24 00:00:00      415  532.0  51.742340   68.896657  0.0    23.407280
4 2013-08-24 01:00:00      413  527.0  44.403028  133.429167  0.0    24.586375

# Zusatzaufgabe 5

Folgenden Fehler finden Sie auch in folgendem Datensatz `data/date_formats.csv` wieder. Versuchen Sie jede Spalte zu fixen, damit Sie eine Stunde dazu addieren können.

Hier finden Sie ein Cheatsheet zu den Formaten: https://strftime.org/

In [ ]:
# Ihr Code: